button#menubutton {
  width:80px;
  height:30px;
  background-color:#b30000;
  border-style:solid;
  border-radius:7.5px;
  border-width:5px;
  border-color:#ffcc66;
  cursor:auto;
  color:white;
}
body{
  color:white;
  background-color:black;
}
a#link {
  text-decoration:none;
  color:white;
}
hr{
  border-color:#ffcc66;
}
