button#menubutton {
  height:30px;
  background-color:#b30000;
  border-style:solid;
  border-radius:7.5px;
  border-width:5px;
  border-color:#ffcc66;
  cursor:auto;
}
body{
  color:white;
  background-color:black;
}
a {
  text-decoration:none;
  color:white;
}
hr{
  border-color:#ffcc66;
}
